.lesson-container {
    margin: 0;
    max-width: 750px;
    background-color:transparent;
    box-shadow:none
}

.lesson-char {
    color: rgba(0, 0, 0, 0.822)
}

.incorrect {
    color: red;
}

.past {
    color: grey;
}

.current-letter {
    text-decoration: underline;
}