.draggable-zoomable-container {
    position: relative;
    transform-origin: 0 0;
    cursor: grab;
    user-select: none; 
    width: fit-content;
    height: fit-content;
    border-radius: 5px ;
  }
  
  .draggable-zoomable-container:active {
    cursor: grabbing;
  }

  .draggable-zoomable-container:hover{
    box-shadow: rgba(60, 64, 67, 0.144) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  